# Node modules
node_modules/

# Build output
dist/
build/
.next/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnp/
.pnp.js

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local


# Optional: Storybook
.out/
.storybook/

# Optional: Coverage reports
coverage/
